* {
    font-family: Tahoma;
    color: black;
    text-align: center;
    background-color: #fffdd0;
}
table, th, tr {
    border: 1px solid black;
}
th:hover {
    background-color: aqua;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.miner {
    float: left;
}
.workingman {
    margin-left: auto;
    margin-right: auto;
}
button {
    text-decoration: none;
}